[alias]

    # Fancy git log
    lg = log --all --graph --decorate --oneline

[filter "lfs"]

    # Configures Git LFS for handling large files
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true


[user]

    # Sets identity for Git commits
	name = danielbonkowsky
	email = danielbonkowsky@gmail.com


[branch]

 	# Show most recently changed branches first.
	sort = -committerdate   


[core]

	# Make `git rebase` safer on macOS.
	# More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
	trustctime = false

	# Prevent showing files whose names contain non-ASCII symbols as unversioned.
	# http://michael-kuehnel.de/git/2014/11/21/git-mac-osx-and-german-umlaute.html
	precomposeunicode = false

	# Speed up commands involving untracked files such as `git status`.
	# https://git-scm.com/docs/git-update-index#_untracked_cache
	untrackedCache = true


[push]

	# https://git-scm.com/docs/git-config#git-config-pushdefault
	default = simple


[init]

	defaultBranch = main


[color]

    # Enables and customizes color output if the terminal supports it. 
    # This is the default setting in Git ≥ 1.8.4
	ui = auto


[color "branch"]

    # Color scheme for branch-related commands
	current = yellow reverse
	local = yellow
	remote = green


[color "diff"]

    # Color scheme for diff outputs
	meta = yellow bold
	frag = magenta bold # line info
	old = red           # deletions
	new = green         # additions


[color "status"]

    # Color scheme for status outputs
	added = yellow
	changed = green
	untracked = cyan
    deleted = red
